body
{
    font-family: arial, helvetica;
    background:ghostwhite;
    font-family: "Montserrat", "sans-serif";
}

.navegacion
{
    list-style: none;
    padding: 0;
    background:ghostwhite;
    width: 90%;
    max-width: 1000000000000000px;
    margin:auto;
    

}

.navegacion li a
{

    text-decoration:none;
    color:black ;
    padding: 10px;
    display: block;
    position: relative;
}



.navegacion li a::after
{
    content: "";
    background-color: darkgray;
    position: absolute;
    left: 0%;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.navegacion a:hover::after
{
    opacity: 0.8;
}

.navegacion li
{

    display: inline-block;
    text-align: center;
}

.titulo  
{
    display: block;
    padding: 30px;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    color:darkkhaki;
}

.formulario
{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: block;
    
}


.formulario input
{
    font-size: medium;
}
footer
{
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
}
.duendeIMG
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

