body
{
    font-family: arial, helvetica;
    background:ghostwhite;
}

.navegacion
{
    list-style: none;
    padding: 0;
    background:ghostwhite;
    width: 90%;
    max-width: 1000000000000000px;
    margin:auto;

}

.navegacion li a
{

    text-decoration:none;
    color:black ;
    padding: 10px;
    display: block;

}

.navegacion li a:hover
{
    background:darkgray;
}

.navegacion li
{

    display: inline-block;
    text-align: center;
}

.titulo  
{
    display: block;
    padding: 30px;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    color:darkkhaki;
}

.formulario
{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: block;
    
}


.formulario input
{
    font-size: medium;
}
footer
{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}
.duendeIMG
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

