<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24 kilates</title>

    <link rel="stylesheet" href="./estiloscss/index.css">

    <link rel="shortcut icon" href="/public/imagenes/duendi.jpg" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="navegacion">

            <li><a href="paginasHTML/perfil.ejs" target="paginas">Ver perfil</a></li>
            <li><a href="productos.ejs" target="paginas">Ver productos</a></li>
            <li><a href="inicio_de_secion" target="paginas" >Ingresar</a></li>
            <li><a href="paginasHTML/registro.html" target="paginas">Registrarme</a></li>
        </ul>
    </nav>

    <main>
        <iframe name="paginas" src="/productos.ejs" frameborder="0"></iframe>
    </main>

    
</body>
</html>