<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" href="../estiloscss/perfil.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <article>
        <section class="container" id="more-options">
            <ul>
                <ul><a href="">🏠 Casa</a></ul>
                <ul><a href="">🔔 Notificaciones</a></ul>
                <ul><a href="">☁️ Mensajes</a></ul>            
            </ul>
        </section>

        <section class="container" id="publicaciones">
            <h2>Perfil</h2>
            
            <div id="img-container"><img class="img" id="img-perfil" src="https://static.vecteezy.com/system/resources/previews/011/675/374/original/man-avatar-image-for-profile-png.png" alt=""></div>

        </section>
    </article>
</body>
</html>