body
{
    font-family: arial, helvetica;
    background:ghostwhite;
    font-family: "Montserrat", "sans-serif";
}

article
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#more-options
{
    padding-top: 50px;
    display: flex;
    list-style: none;
    width: 20%;
    height: 1300px;
    background-color: rgba(252, 252, 229, 0.693);
    border-radius: 30px;
}

#more-options ul a
{
    text-decoration:none;
    color:black ;
    padding: 10px;
    display: flex;
    justify-content: left;
}
ul
{
    margin-top: 20px;
}

#publicaciones
{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 1300px;
    background-color: rgba(240, 255, 255, 0.767);
    border-radius: 30px;
    align-items: center;
}

#img-container
{
    display: flex;
    flex-direction: column;
}

#img-perfil
{
    border: 3px solid black;
    border-radius: 70px;
    width: 140px;
    height: 140px;
}

#img-perfil, h2
{
    margin-left: 50px;
}