body
{
    font-family: arial, helvetica;
    background:ghostwhite;
    font-family: "Montserrat", "sans-serif";
}

.formulario
{
    display: block;
    text-align: center;
    padding-top: 100px;

}

.formulario .botonhecho
{
    width: 100px;
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    
}


.formulario input
{
    width: 400px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
